rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    match /{collection}/{docId} {
      allow read, write: if false;
    }

    match /accounts/{uid} {
      allow read, write: if isOwner(uid);
    }

    match /subscriptions/{uid} {
      allow read: if isOwner(uid);
    }

    match /invoices/{docId} {
      allow read, write: if
        request.auth != null &&
        request.resource.data.uid == request.auth.uid;
    }

    match /expenses/{docId} {
      allow read, write: if
        request.auth != null &&
        request.resource.data.uid == request.auth.uid;
    }
  }
}
